<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <whitelist_csp>
            <configuration>
                <enabled>1</enabled>
                <policies/>
            </configuration>
        </whitelist_csp>
    </default>
</config>
